/* Your CSS here. */
/* body{
  position: fixed;
  top: 50%;
  left: 50%;

  background: blue;
} */

/* body{
  display: table-cell;
  vertical-align: middle;
  height: 200px;

  background: blue;
} */

/* body{
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  background: blue;
} */

.body{
background-color: coral;
}

.centerMe{
       position: absolute;body
       margin: auto;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       width: 100px;
       height: 100px;

  }
